<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="at.innovative_solutions.tlvvisualizer.extensionpoint.valuedecoder">
      <decoder
            class="at.innovative_solutions.tlvVisualizer.decoder.asn1.ASN1ValueDecoder"
            decoder_name="Plain ASN-1">
      </decoder>
   </extension>

</plugin>
